.main-container {
  margin-top: 100px;
  margin: 200px auto;
}
.img {
  display: block;
  width: 300px;
  margin: 0px auto 20px auto;
}
.search-input {
  display: block;
  padding: 10px 30px;
  width: 600px;
  line-height: 24px;
  margin: 0px auto;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: 0px 0px 8px rgb(172, 163, 163);
}
.search-input:hover {
  box-shadow: 0px 0px 12px rgb(172, 163, 163);
}
.search-input:active {
  box-shadow: 0px 0px 18px rgb(163, 154, 154);
}
.search-input:focus {
  outline: none;
}
.btn {
  display: block;
  margin-top: 30px;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  background: #dfe1e5;
  border: none;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
